/*html{
	border-top:15px solid #c4c6c8;	
	text-decoration:none;

}
*/
a {
	border:0;
}

a:link {
text-decoration:none;
}

@font-face {
    font-family: 'trade';
    src: url('font/tradegothicltstd_0-webfont.eot');
    src: url('font/tradegothicltstd_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tradegothicltstd_0-webfont.woff') format('woff'),
         url('font/tradegothicltstd_0-webfont.ttf') format('truetype'),
         url('font/tradegothicltstd_0-webfont.svg#TradeGothicLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family:trade;
	margin:0;
	padding:0;
}


#page-wrapper{
	width:960px;
	height:auto;
    margin: auto;
    position: relative;
    top: 60px;	
	
/*	margin: 0 auto;
	text-align:left;
	padding:0;*/
}



#gallery{
	float:left;
	width:800px;
	height:auto;
    margin-left: 80px;
    margin-right: auto;
	margin-bottom:15px;
	margin-top:90px;

}

#gallery2{
	float:left;
	margin:10px 0 0 80px;
	/*border:solid blue;*/
	padding:0;

}
#galleryBorder{
		float:left;
		width:777px;
		height:auto;
		margin:-45px 0 35px 84px;
		padding:20px 10px 30px 5px;
		border-bottom:2px dotted #c4c6c8;
	
}	

p{
	font-family:"times new roman", garamond, times;
	font-size:17px;
	font-weight:lighter;
	float:left;
	width:777px;
	height:auto;
	margin:0px 0 0 0px;
	padding:0;
	}
h1{
	font-family:Garamond, times;
	text-transform:capitalize;
	color:black;
	font-size:18px;
	padding-left:0px;
	margin: 20px 0 8px 0px;
	display:block;
	text-align:center;
}
.h1bullet{
	display: inline-block;
	background-color:white;
	height:4px;
	width:4px;
	margin:0 6px 2px 6px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
}


h2{
	font-family:Garamond, times;
	color:#95B9C7;
	font-size:20px;
	text-transform:capitalize;
	margin:10px 0 8px 0px;
	padding:10px 0 0 0;
	letter-spacing: 00.1em; 
	display:block;
	text-align:center;
	opacity:0.8;
}

h3{
		text-decoration: none;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		color: #c4c6c8;
		text-align:center;
		font-family:trade;
		font-size:12px;
		height:35px;
		padding:8px;
		font-weight:lighter;
		border-top:none;
		display:block;
}
.galleryh3{
	border-top:none;
	
}


#description{
	float:left;
	width:777px;
	height:auto;
	margin:50px 0 35px 84px;
	padding:20px 10px 30px 5px;
	border-bottom:2px dotted #c4c6c8;
/*	border-top:2px dotted #c4c6c8;*/
	/*border:solid red;*/
	
}


.pr_circles_container{
	float:left;
	margin-left:39px;
	margin-top:-75px;
	width:10px;
	height:auto;
   /* border:1px solid red;*/
	
}
/*.circle{
	float:left;
	background:#95B9C7;
	height:10px;
	width:10px;	
	border-radius:75px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	margin:10px 5px 0 5px;
}*/

.nxtPrevButtonContainer{
	float:left;
	width:100%;
	margin-left:30px;
	margin-right:5px;	
	margin-top:10px;
	font-size:25px;
	font-family:sans;
	text-decoration:none;
	color:red;
/*	border:1px solid red;*/
}
.prevNextButton a img{
	float:left;
	margin-right:18px;
	margin-top:10px;
	width:10px;
	height:auto;
	
}


.circle:hover{
	background-color: white;
/*	border:solid thin #95B9C7;*/
	box-shadow: 0 0 0 1px #95B9C7 inset;
	size:400%;
}
	
.circle:active{
		background-color:white;
}

	                       
.firstcircle{ 
	display: inline-block;
	background:#95B9C7;
	height:10px;
	width:10px;	
	border-radius:75px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	margin:0 5px 0 5px;
	margin-left: -20px;
	opacity: 0;
}

.current{
	background-color:white;
	border:solid thin #95B9C7;
	size:400%;

}

#project_text{
	padding:20px 0 0 30px;
	border:solid red;
	margin: 0px 0 0 0;
	width:723px;
	
}

.navigrationContainer{
	position:relative;
	z-index:4;
/*	border: 1px solid green;*/
}

#fixedNav{
	position:fixed;
	width:50px;
	top:180px;
}

.top{
	position:absolute;
	left:906px;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
/*	border:1px solid green;*/
		text-decoration: none;
}

#logonav {
	position:fixed;
/*   overflow: hidden;*/
	width:1000px;
    white-space: nowrap;
	height:65px;
	z-index: 5;
/*	border: 1px solid blue;*/
		text-decoration: none;

}

.contactClicked{
	border-bottom:2px solid #28bbb0;
	float:left;
	margin-top:40px;
	margin-left:890px;
	font-family:trade;
	font-weight:lighter;
	font-size:14px;
	letter-spacing:1px;
	text-decoration: none;
	color:#28bbb0;
	
}


.contact{
	float:left;
	margin-top:40px;
	margin-left:890px;
/*	border:solid green;*/


}
.contact a {
	font-family:trade;
	font-weight:lighter;
	color:grey;
	font-size:14px;
	letter-spacing:1px;
	text-decoration: none;
}

.contact a:hover{
	color:#28bbb0;
	border-bottom:2px solid #28bbb0;

}

.logo{
	float:left;
	margin-top:20px;
	margin-left:-60px;
	z-index:4;
/*	border:1px solid green;*/
	
}

.whitebar{
	position:fixed;
	width:100%;
	height:88px;
	margin-top:-20px;
	border-bottom:2px solid #28bbb0;
	background-color:white;
	opacity:0.9; 
	z-index:4;
}
.greybar{
	position:fixed;
	width:100%;
	height:15px;
	margin-top:0px;
	background-color:#c4c6c8;
	opacity:0.9; 
	z-index:5;
}




.pictures{
	margin:40px 0 0 0;
	float:left;

}

#movie{
	margin:40px 0 0 270px;
	display:block; 
    margin:0 auto; 
   text-align:center;

}


.originalSize img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:15px;
}

.photoSize{
	width:800px;
	height:auto;
} 

.picturescenter img{
	display: block;
	width:800px;
	height:auto;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:15px;
	
}

.lastpicture{
	margin:40px 0 0 0;
	
}

#footercontact {
		background-color: white;
		height:180px;
		width:777px;
		float:left;
		margin: 0 auto;
		padding:0px 10px 10px 0px;
		margin-left:85px;
		text-decoration: none;
		border-top: 2px dotted #c4c6c8;
	/*	border:solid green;*/
}
#footer {
		
		width:800px;
		height:180px;
		margin: auto;
	    position: relative;
	    top: 60px;

}
.footerindex {		
		width:800px;
		height:180px;
		float:left;
		left:300px;
	    top: 80px;

}



#footergallery{
		height:80px;
		width:800px;
		margin-left: auto;   
		margin-right: auto;
		display:inline-block;
		margin: 0px 0 0 78px;
	
}
.backtotop{
		width:100%;
		display:block;
		text-align:center;
		color:#c4c6c8;
		font-family:trade;
		font-style:italic;
		height:35px;
		padding:15px 0 0 0;
		border-top: 2px dotted #c4c6c8;
		border-bottom: 2px dotted #c4c6c8;
}
.backtotop:hover{
		text-decoration:underline;
		color:#28bbb0;
	
	
}
	

.image-cropper{
	position: relative;
	  width: 800px;
	  height: 51px;
	  overflow: hidden;
	
}



.centered{
	position: absolute;
	right:0%;
	top:-420px;
	
}



.navContainer{
	position: fixed;
	padding:0;
	top:-110px;
}

.circleContainer{
	position:absolute;
	top:250px;
	left:890px;
	width:300px;
}

#navPics{
	height:150px;
	width: auto;
	margin: 0 15px 15px 0;
	padding: 0;
	border: solid 4px white;
	display: block;
	position: absolute;
	left:-80px;
	top:-20px;
}

.border:hover{
	border:solid 4px #2cb1a3; 
}


.border{
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 80px;
	z-index: 999;
	position: relative;
	border:4px solid white;
	overflow: hidden;
	
}

.currentBorder{
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 80px;
	z-index: 999;
	position: relative;
	border:4px solid #2cb1a3;
	overflow: hidden;
}

.ajdustimg{
	height:200px;
	width: auto;
	margin: 0 15px 15px 0;
	padding: 0;
	border: solid 4px white;
	display: block;
	position: absolute;
	left:-20px;
	top:-20px;
	border:10px solid green;
	
}

ul li{
	list-style-type: none;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}


#imagebox:hover{
	outline:5px solid #2cb1a3;
	z-index:999;
	
}
.homeimagesize{
	height:auto;
	width:900px;
	
}

.titletext{
	font-family:Garamond, times;
	text-transform:capitalize;
	color:black;
	font-size:25px;
	padding-left:20px;
	padding-top:10px;
	vertical-align:text-top;
	position:absolute;
	z-index:5;
	top:-1px;
	display:none;
	

}

/*.titletext:hover{
	position:absolute;
	display:block-inline;
	z-index:999;
	display:none;
	
}*/
/*
#imagebox .titletext:hover{
		display:none;
}
*/

#imagebox {
	position:relative;
	height:51px;
	width:800px;
	margin:10px 5px 0px 5px;
	padding:5px 0 5px 0;
	border-bottom:1px dotted #c4c6c8;
	border-top:1px dotted #c4c6c8;
	z-index:1;

}



#messagebox{
	padding:10px 0 0px 0;
	margin:0px 0 0 200px;
	float:left;
	font-family:trade;
	font-weight:lighter;
	font-size:14px;
	width:600px;	
/*	border:solid green;*/

}

.formt{
	font-style:trade;
	text-align:right;
	display:inline-block;
	width: 30%;
	font-size:12px;
 	margin-left: auto;
	margin-right: auto;
	margin:20px 0 0px 0;
	letter-spacing:1px;
	padding:10px 0 0px 0;
/*	border:solid yellow;*/
	color:#28bbb0;
}

input{
	
	font-size:16px;
	font-family:garamond;
	font-weight:lighter;
	position:relative;
	z-index: 1;
	padding:3px 2px 2px 0px;
	margin:0;
	border:solid 1px #28bbb0;
	background:#28bbb0;
}


textarea{
	padding:5px 10px 10px 10px;
	margin:-21px 0 0px 154px;
	float:left;
	background:#28bbb0;
	border:solid 1px #28bbb0;
	resize:both;
	display:block;
	overflow: auto;

}

input textarea {
	color:#ffffff;;
	
	
}
button{
	margin:20px 0 0 154px;
	padding:0;
	width:75px;
	height:26px;
	background:white;
	color:#28bbb0;
	letter-spacing:115%;
	font-size:10px;
	font-weight:bold;
	border:solid 1px #28bbb0;
	float:left; 
	border-radius:7px;

}



textarea:focus, input:focus {
	color:#ffffff;
}



button:hover {
	border-radius:7px;
	color:white;
	border:solid 2px white;
	background:#28bbb0;

}
	
button:active{
	border-radius:7px;
		

	}

	

fieldset {
	border: 1px solid grey;
	width: 500px;
	border: 1px solid #28bbb0;
	margin:90px 0 20px 0;
	padding:20px 0 30px 55px;
}	


legend{
	font-family:trade;
	font-style:italic;
	color: #28bbb0;
	padding: 2px 6px;
	margin: 0 0 0 75px;
}
	

:-webkit-input-placeholder {
font-family:"times new roman";
font-size:13px;
}

:-moz-placeholder {  
font-family:"times new roman";
font-size:13px;
}


#social{
position:absolute;
left:44%;
display:inline-block;
/*border:solid blue;*/	
vertical-align:bottom;
text-align:center;

}


#social img{
vertical-align:middle;
float:left;
margin:0 6px 0 0;
filter:alpha(opacity=50);
-moz-opacity: 0.5; 
opacity: 0.5;
-khtml-opacity: 0.5;
/*border:solid red;*/
}

#social img:hover {
filter:alpha(opacity=100); 
-moz-opacity: 1.0; 
opacity: 1.0;
-khtml-opacity: 1.0;
}

.behance{
	height:35px;
	width:auto;
	padding:0;
	margin-bottom:0px;
	z-index:5;

}

.video{
	margin-top:60px;
	margin-left:250px;
}

.stamp{
	width:400px;
	height:auto;
padding-right:10px;
padding-top:0;

}

.long{
	padding-top:35px;
	width:800px;

}
.ivideos{


}

a {
	text-decoration: none;
	color:#28bbb0;

}

.margins{
	margin-bottom:150px;

}


